node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log*
**/.npm-cache/
.env
.env.local
.env.*.local

/dist
/out-tsc
/bazel-out
/www
**/www/
**/dist/
**/build/
**/.gradle/
**/.gradle-home/
**/android/.gradle/
**/android/app/build/
/tmp
/.sourcemaps
/.ionic
/.angular
/.angular/cache
/.nx
/.nx/cache
/platforms
/plugins
/coverage


.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/


.DS_Store
Thumbs.db
$RECYCLE.BIN/
*~


*.log
*.out
*.err
*.tmp
*.tmp.*
*.sw[mnpcod]
.tmp
log.txt
libpeerconnection.log
testem.log


.sass-cache/
UserInterfaceState.xcuserstate


backend/check.jpeg
*.apk
emulator-*.png
backend/uploads/
backend/server.out.log
backend/server.err.log
